:root {
    --mainDark: #424242;
    --mainGrey: rgb(109, 109, 109);
    --mainLightGrey: rgb(172, 172, 172);
    --mainWhite: #efefef;
    --mainBlue: #007bff;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
    /*display: none;*/
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler {
    border: none;
}

.container-fluid {
    max-width: 90%;
}

.main-content {
    min-height: 59vh;
}

@media (max-width: 700px) {
    .container-fluid {
        max-width: 95%;
    }
}

a {
    text-decoration: none;
    color: #efefef;
}

a:hover {
    text-decoration: none;
    color: #efefef;
}

.nav-link {
    color: #efefef !important;
    text-transform: uppercase;
    font-size: 12px;
}
